@use 'form-mixins';

/*************
** Layout 
**********/

.player-grid-search {
    min-width: 300px;
    max-width: 1500px;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 3em 1em;
    margin-top: 1em;
    padding-bottom: 2em;


    .player-grid-search-form {
        grid-column: 1 / -1;
        grid-row: 1 / -1;

        .input-icon {
            @include form-mixins.inputIcon(var(--placeholder-text-color), 30px, 6px);
        }

        .player-search-form-input {
            @include form-mixins.formInput(var(--placeholder-text-color));
            border-radius: 10px;
        }
    }

    .search-btn {
        display:inline-block;
        margin:0;
        padding: .5em 1em;
        background-color: #fff;
        color: var(--submit-btn-background);
        border: solid 1px var(--submit-btn-background);
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 700;
        cursor: pointer;
    }

    .search-btn:hover,
    .search-btn.focus {
        color: #fff;
        background-color: var(--submit-btn-background);
        .fa-solid.fa-filter,
        .fa-solid.fa-dice-d20 {
            color: #fff;
        }
    }

    .fa-solid.fa-dice-d20,
    .fa-solid.fa-filter {
        color: var(--submit-btn-background);
        font-size: 1.125rem;
    }

    .random-play-btn {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .show-filters-btn {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        max-width: 200px;
    }


}