
/*****************
** Typography
*********/

.login-error-message {
    font-size: .75rem;
    font-weight: 300;
    color: var(--error-form-color);
}
/********************
** Layout 
*************/

/*.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    font-family: var(--font-family);
    color: var(--text-color);

    .login-email-label,
    .login-password-label {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .login-email-input,
    .login-password-input {
        font-family: var(--font-family);
        padding: .5em;
        appearance: none;
        border: 1px solid var(--board-background-color);
        border-radius: 8px;
    }

    .login-email-input:not(:placeholder-shown):invalid {
        outline: var(--error-form-color)
    }
    .login-email-input:focus:invalid {
        outline: var(--warning-form-color);
    }
    .login-email-input.login-email-input:not(:placeholder-shown):valid{
        outline: var(--success-form-color);
    }

    .login-submit-btn {
        font-size: 1.5rem;
        border-radius: 10px;
    }

    .create-user-btn {
        color: #000;
        text-decoration: underline;
        border: none;
        margin: none;
        padding: 0;
        padding-top: .5em;
    }

    .create-user-btn:hover,
    .create-user-btn:focus {
        color: var(--submit-btn-background);
    }
}*/